In [1]:
# a ditctionary
people = {
    "first": ["Corey","Jane","Joe"],
    "last": ["Shafer","Doe","Doe"],
    "email": ["corey@email.com","jane@email.com","joe@email.com"]
}

In [2]:
#access the third column
people["email"]

['corey@email.com', 'jane@email.com', 'joe@email.com']

In [3]:
import pandas as pd

In [4]:
# make a dataframe of the dictionary
df = pd.DataFrame(people)

In [5]:
df

   first    last            email
0  Corey  Shafer  corey@email.com
1   Jane     Doe   jane@email.com
2    Joe     Doe    joe@email.com

In [6]:
df['email']

0    corey@email.com
1     jane@email.com
2      joe@email.com
Name: email, dtype: object

In [10]:
# set index as column and modify the dataframe w/ inplace
df.set_index('email', inplace =True)

In [11]:
df

                 first    last
email
corey@email.com  Corey  Shafer
jane@email.com    Jane     Doe
joe@email.com      Joe     Doe

In [13]:
# display the index
df.index

Index(['corey@email.com', 'jane@email.com', 'joe@email.com'], dtype='object', name='email')

In [16]:
df.loc['corey@email.com','last']

'Shafer'

In [17]:
df.iloc[0]

first     Corey
last     Shafer
Name: corey@email.com, dtype: object

In [ ]:
#reset index to previous
df.reset_index(inplace=True)

                 first    last
email
corey@email.com  Corey  Shafer
jane@email.com    Jane     Doe
joe@email.com      Joe     Doe