In [26]:
# a ditctionary
people = {
    "first": ["Corey","Jane","Joe"],
    "last": ["Schafer","Doe","Doe"],
    "email": ["corey@email.com","jane@email.com","joe@email.com"]
}

In [2]:
import pandas as pd

In [28]:
df = pd.DataFrame(people)

In [4]:
df

   first    last            email
0  Corey  Shafer  corey@email.com
1   Jane     Doe   jane@email.com
2    Joe     Doe    joe@email.com

In [7]:
# create a boolean sereis with True/False values of the conditon for last
filt = (df['last'] == 'Doe')

In [9]:
#pass the filt series into the dataframe, which gives a new df w/ the resulting data
df[filt]
#same but condensed
df[df['last'] == 'Doe']

  first last           email
1  Jane  Doe  jane@email.com
2   Joe  Doe   joe@email.com

In [10]:
#the same but w/ loc
df.loc[filt]

  first last           email
1  Jane  Doe  jane@email.com
2   Joe  Doe   joe@email.com

In [11]:
# see a specfic column
df.loc[filt, 'email']

1    jane@email.com
2     joe@email.com
Name: email, dtype: object

In [18]:
# and operator
filt = (df['last'] == 'Doe') & (df['first'] == 'Joe')
df.loc[filt, 'email']

2    joe@email.com
Name: email, dtype: object

In [29]:
# or operator
filt = ((df['last'] == 'Schafer') | (df['first'] == 'Joe'))
df.loc[filt, 'email']

0    corey@email.com
2      joe@email.com
Name: email, dtype: object

In [30]:
# negating the condintion
df.loc[~filt, 'email']

1    jane@email.com
Name: email, dtype: object