In [1]:
# a ditctionary
people = {
    "first": ["Corey","Jane","Joe", "Adam"],
    "last": ["Schafer","Doe","Doe","Doe"],
    "email": ["Corey@email.com","Jane@email.com","Joe@email.com","A@email.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last            email
0  Corey  Schafer  Corey@email.com
1   Jane      Doe   Jane@email.com
2    Joe      Doe    Joe@email.com
3   Adam      Doe      A@email.com

In [5]:
# sort by last name, descending
df.sort_values(by="last", ascending = False)

   first     last            email
0  Corey  Schafer  Corey@email.com
1   Jane      Doe   Jane@email.com
2    Joe      Doe    Joe@email.com
3   Adam      Doe      A@email.com

In [6]:
# sort first by last name, if there are several w/ the sam - sort by first name; descending
df.sort_values(by=["last","first"],ascending=False)

   first     last            email
0  Corey  Schafer  Corey@email.com
2    Joe      Doe    Joe@email.com
1   Jane      Doe   Jane@email.com
3   Adam      Doe      A@email.com

In [9]:
#last name in decending order, first in ascending order
df.sort_values(by=["last","first"],ascending=[False, True], inplace = True)
df

   first     last            email
0  Corey  Schafer  Corey@email.com
3   Adam      Doe      A@email.com
1   Jane      Doe   Jane@email.com
2    Joe      Doe    Joe@email.com

In [10]:
#get back to original
df.sort_index()

   first     last            email
0  Corey  Schafer  Corey@email.com
1   Jane      Doe   Jane@email.com
2    Joe      Doe    Joe@email.com
3   Adam      Doe      A@email.com

In [11]:
#only sort a series
df['last'].sort_values()

3        Doe
1        Doe
2        Doe
0    Schafer
Name: last, dtype: object