In [7]:
# a ditctionary
people = {
    "first": ["Corey","Jane","Joe"],
    "last": ["Shafer","Doe","Doe"],
    "email": ["corey@email.com","jane@email.com","joe@email.com"]
}

In [8]:
#access the third column
people["email"]

['corey@email.com', 'jane@email.com', 'joe@email.com']

In [4]:
import pandas as pd

In [5]:
# make a dataframe of the dictionary
df = pd.DataFrame(people)

In [9]:
df

   first    last            email
0  Corey  Shafer  corey@gmail.com
1   Jane     Doe   jane@gmail.com
2    Joe     Doe    joe@gmail.com

In [10]:
#access the thrid column, returning a series
df['email']

0    corey@gmail.com
1     jane@gmail.com
2      joe@gmail.com
Name: email, dtype: object

In [12]:
# dot notation, can be a problem if the name of the column is the same as a method in the dataframe
df.email

0    corey@gmail.com
1     jane@gmail.com
2      joe@gmail.com
Name: email, dtype: object

In [11]:
type(df['email'])

pandas.core.series.Series

#### A data frame is 2-dimensional, a "column" in a dataframe is a series which is one dimensional

In [14]:
# access several columns, by passing a list
df[['last','email']]

     last            email
0  Shafer  corey@gmail.com
1     Doe   jane@gmail.com
2     Doe    joe@gmail.com

In [15]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [16]:
#acces rows by integer location
df.iloc[0]

first              Corey
last              Shafer
email    corey@gmail.com
Name: 0, dtype: object

In [17]:
# acces mulitple rows by integer location
df.iloc[[0,1]]

   first    last            email
0  Corey  Shafer  corey@gmail.com
1   Jane     Doe   jane@gmail.com

In [18]:
# acces muliple rows of specifical column by integer locatation
df.iloc[[0,1],2]

0    corey@gmail.com
1     jane@gmail.com
Name: email, dtype: object

In [19]:
df

   first    last            email
0  Corey  Shafer  corey@gmail.com
1   Jane     Doe   jane@gmail.com
2    Joe     Doe    joe@gmail.com

In [20]:
df.loc[0]

first              Corey
last              Shafer
email    corey@gmail.com
Name: 0, dtype: object

In [21]:
df.loc[[0,1]]

   first    last            email
0  Corey  Shafer  corey@gmail.com
1   Jane     Doe   jane@gmail.com

In [23]:
# acces specific columns of chosen rows with a list of column names. NOTE the order of list
df.loc[[0,1], ['email','last']]

             email    last
0  corey@gmail.com  Shafer
1   jane@gmail.com     Doe